* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

    .wrapper {
        margin: 0 auto;
        padding-right: 55px;
        padding-left: 55px;
    }

    .img {
        width: 80px;
        height: auto;
        margin-top: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        padding-top: 15px;
    }

    body {
        font-family: 'Raleway', sans-serif;
        margin : auto;
        box-sizing: border-box;
    }

    .navbar {
        display: block;
    }

    .nav-link {
        width: 106%;
        padding: 31px 33px 10px 33px; /* Haut Droite Bas Gauche */
        border-top: 3px solid white;
    }

    .nav-link:hover {
        border-top: 3px solid #0065FC;
        color: #0065fc;
    }

    header a {
        width:25%;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .haut {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        list-style: none;
    }

    .titre1 {
        font-weight: bolder;
        font-size: 22px;
        display: flex;
        margin: 65px 0px -7px 0px; /* Haut Droite Bas Gauche */
        padding-left: 3px;
    }

    .titre2 {
        font-weight: normal;
        font-size: 16px;
        display: flex;
        margin-bottom: 13px;
        padding-left: 3px;
    }

    .formulaire {
        display: flex;
        flex-direction: row;
    }

    .button {
        background: #0065FC;
        border: none;
        border-radius: 0px 15px 15px 0px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        text-align: center;
        flex-shrink: 0;
        padding-left: 8px;
        padding-right: 8px;
    }

    .champ {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        border: 1px solid #F2F2F2;
        padding-left: 10px;
        height: 50px;
        flex-grow: 1;
    }

    #searchbar {
        display: flex;
        margin-bottom: 15px;
        max-width: 380px;
    }

    .search {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        width: 50px;
        flex-shrink: 0;
    }

    .iconsearch {
        display: none;
    }

    .icon {
        color: #000000;
        font-size: 1.5em;
        padding-top: 12px;
        padding-left: 15px;
    }

    i.fa-icon {
        font-size: 1.3em;
        color:#0065fc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 50px;
    }

    .filters {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        flex-wrap: wrap;
        gap: 30px;
    }

    .titrefiltres {
        font-size: 18px;
        font-weight: bold;
        margin-top: 12px;
    }

    .filtres {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
    }

    .nomfiltre {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;
        white-space: nowrap;
        line-height: 50px;
    }

    .filtre {
        border: 2px solid #D9D9D9;
        border-radius: 35px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        padding: 13px 13px;
        height: 50px;
    }

    .filtre:hover {
        background: #DEEBFF;
    }

    .info {
        display: flex;
        align-items: center;
        margin-top: 30px;
        padding-left: 3px;
    }

    .informations {
        font-size: 16px;
        font-style: normal;
        margin-left: 12px;
    }

    .fa-info {
        color: #0065fc;
        border-radius: 50%;
        border: 1px solid #D9D9D9;
		padding: 6px 10px 6px 10px;/* Haut Droite Bas Gauche */
	}

    .box {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 20px;
    }

    .titrebox {
        display: flex;
        justify-content: flex-start;
        font-size: 22px;
        font-weight: bold;
    }

    #MarseilleAccomodations {
        width: 66%;
	    display: flex;
	    justify-content: space-between;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 30px 40px 40px 40px;
    }

    .appartement {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 15px;
    }

    .imageappart {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 100%;
    }

    .imgappartcontainer {
        width: 100%;
        height: 124px;
    }

    .infos_hebergements {
        background-color: rgb(255,255,255);
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    border-radius: 20px;
	    border: 4px solid white;
    }

    .link-box {
        flex-grow: 1;
        flex-basis: 235px;
    }

    .infos_hebergements >.link-box {
        min-width: 340px;
    }

    .infos_hebergements > div:not(.imgappartcontainer){
        padding: 0 7px; 
    }

    .titrehebergement {
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 1em;
        margin-bottom: 0px;
    }

    .prixhebergement {
	    font-size: 14px;
	    font-weight: normal;
        padding: 10px 0;
	    line-height: 0.5em;
    }

    .etoiles {
        font-size: 12px;
        padding: 0 0 10px 0;
    }

    .blue {
        color: rgba(0, 101, 252, 1);
    }

    .grey {
        color: rgba(242, 242, 242, 1);
    }

    .titre4 {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        margin-top: 15px;
    }

    .afficherplus:hover {
        text-decoration: none;
    }

    i.fa-chart-line {
        color:#0065fc;
        line-height: 38px;
    }

    .bloc1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .titreboxmostpopular {
        font-size: 22px;
        font-weight: bold;
        line-height: 38px;
    }

    #MostPopular {
        background-color: #F2F2F2;
        border-radius: 20px;
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px 45px 40px;
    }

    #MostPopular>*:first-child {
        align-self: stretch;
    }

    .boxmostpopular {
        background-color: rgb(255,255,255);
	    border: 4px solid white;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 6px;
    }

    .cardsmostpopular {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 9px;
    }

    .textmostpopular {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .titremostpopular {
        font-size: 15px;
	    font-weight: 700;
        line-height: 18px;
        margin: 12px 0px 0px 12px; /* Haut Droite Bas Gauche */
        margin-bottom: 0px;
    }

    .imagemostpopular {
        width: 100%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    .imgmostpopular {
        height: 140px;
        width: 137px;
        flex-shrink: 0;
    }

    .prixmostpopular {
        font-size: 14px;
	    font-weight: normal;
        line-height: 16px;
        margin: 10px 0px 0px 12px; /* Haut Droite Bas Gauche */
    }

    .etoilesmostpopular {
        margin: auto 0px 5px 12px; /* Haut Droite Bas Gauche */
        font-size: 12px;
    }

    .box2 {
        display: flex;
        flex-direction: column;
    }

    .titreboxactivites {
        font-size: 22px;
        font-weight: bold;
        margin-top: 50px;
    }

    .imageactivite {
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        width: 100%;
    }

    .titreactivites {
        font-size: 15px;
	    font-weight: bold;
        padding: 15px;
        height: 56px;
    }

    #Activites {
        display: flex;
        border-radius: 20px 20px 0 0;
        margin-top: 20px;
        gap: 40px;
    }

    .boxactivites {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .titre5 {
        font-size: 18px;
        font-weight: bold;
    }

    .footer {
        background: #F2F2F2;
        margin-top: 60px;
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footerbloc {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        line-height: 2;
    }

/*Media querries tablette*/

@media screen and (max-width: 1024px) {

.filtres, .filters {
    gap: 15px;
}

.box {
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0%;
}

.box1 {
    width: 100%;
}

#MarseilleAccomodations {
    width: 100%;
    margin-bottom: 15px;
}

.bloc1 {
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titreboxmostpopular {
    white-space: nowrap;
    margin: 0px;
    height: 38px;
}

#MostPopular {
    width: 99%;
    margin-top: 3px;
    margin-left: 0px;
}

.titremostpopular {
    margin-top: 7px;
}

.prixmostpopular {
    font-size: 12px;
    line-height: 15px;
}

.boxmostpopular {
    width: 27%;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 8px;
}

.cardsmostpopular {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
}

.titreactivites {
    font-weight: 800;
    font-size: 16px;
    padding: 0px;
    height: fit-content;
}

.titlebox {
    display: flex;
    align-items: center;
    background: white;
    height: 56px;
    border-radius: 0px 0px 20px 20px;
    padding-left: 17px;
    padding-right: 10px;
}

}


@media screen and (max-width: 768px) {
.wrapper {
    padding: 0px 20px;
}

body {
    margin-top: 0%;
    display: block;
}

.haut {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2px;
    gap: 10px;
}

.navbar {
    width: 100%;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 18px;
}

.nav-link {
    border-bottom: 3px solid transparent;
    padding-bottom: 20px;
}

.nav-link:hover {
    padding-bottom: 20px;
    border-bottom: 3px solid #0065FC;
    border-top: 3px solid transparent;
}

.titre1 {
    font-size: 23px;
    margin-top: 10px;
}

.search {
    height: 50px;
    width: 50px;
}

.button {
    width: 50px;
}

.formulaire {
    width: 85%;
}

#textsearch {
    display: none;
}

.iconsearch {
    display: initial;
}

.titrefiltres {
    text-align: center;
    line-height: 21px;
    position: absolute;
    margin-top: 18px;
}

.filtres {
    padding-top: 53px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    width: 92%;
}

.filtre {
    width: 47%;
    margin-top: 4px;
}

.nomfiltre {
    font-size: 11px;
    line-height: 13px;
}

.fa-icon {
    margin-left: 0px;
    /*margin-top: 8px;*/
}

.box {
    display: flex;
    flex-flow: column-reverse nowrap;
    /*padding-right: 4px;
    padding-left: 4px;*/
}

main.wrapper {
    padding: 0px;
}

.titreboxmostpopular {
    font-size: 23px;
}

#MostPopular {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 0px;
}

.cardsmostpopular {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxmostpopular {
    height: 150px;
    width: 100%;
    margin-top: 20px;
    /*max-width: 340px;*/
}

.imgmostpopular {
    width: 40%;
}

.textmostpopular {
    margin-left: 13px;
}

.titremostpopular {
    font-size: 19px;
}

.prixmostpopular {
    font-size: 15px;
}

.titrebox {
    font-size: 24px;
    padding-right: 50px;
}

#MarseilleAccomodations {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
}

.appartement {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    gap: 12px;
}

/*.link-box {
    flex-basis: auto;
    width: 100%;
}*/

/*Lignes à réactiver pour passer en colonne : 720, 725 à 728*/

.infos_hebergements {
    height: 202px;
}

.imageappart {
    height: 124px;
}

.titre4 {
    visibility: hidden;
}

.titreboxactivites {
    font-size: 24px;
    padding-left: 39px;
    margin-top: 30px;
}

#Activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12px;
    padding-bottom: 13px;
}

.imageactivite {
    height: 255px;
}

.boxactivites {
    width: 92%;
}

.titlebox {
    border-radius: 0px 0px 20px 20px;
	border: 4px solid white;
}

.titreactivites {
    border-radius: 0px 0px 20px 20px;
    border: 4px solid white;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.footerbloc {
    margin-left: 60px;
}

}