* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }

    .wrapper {
        max-width: 1440px;
        /*width: 100%;*/
        margin: 0 auto;
        padding-right: 3px;
        padding-left: 3px;
    }

    .img {
        width: 80px;
        height: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        padding-top: 15px;
    }

    body {
        font-family: 'Raleway', sans-serif;
        margin : auto;
        box-sizing: border-box;
    }

    .navbar {
        display: block;
    }

    .nav-link {
        width: 106%;
        padding: 31px 33px 0px 33px; /* Haut Droite Bas Gauche */
        border-top: 3px solid white;
    }

    .nav-link:hover {
        border-top: 3px solid #0065FC;
        color: #0065fc;
    }

    a {
        text-decoration: none;
        color: black;
        width:25%;
    }

    .haut {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: space-between;
        /*gap: 67px;*/
    }

    li {
        /*margin-left: 40px;*/
        list-style: none;
        padding-top: 20px;
    }

    .titre1 {
        font-weight: bolder;
        font-size: 22px;
        display: flex;
        margin: 65px 0px -7px 0px; /* Haut Droite Bas Gauche */
        padding-left: 3px;
    }

    .titre2 {
        font-weight: normal;
        font-size: 16px;
        display: flex;
        margin-bottom: 13px;
        padding-left: 3px;
    }

    .formulaire {
        display: flex;
        flex-direction: row;
    }

    .button {
        background: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 15px 15px 0px;
        padding: 15px 16px;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
    }

    .champ {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        border: 1px solid #F2F2F2;
        padding-left: 10px;
    }

    #searchbar {
        display: flex;
        margin-bottom: 15px;
    }

    .search {
        background: #F2F2F2;
        border: 2px solid #F2F2F2;
        border-radius: 15px 0px 0px 15px;
        width: 50px;
        height: 49px;
    }

    .icon {
        color: #000000;
        font-size: 1.5em;
        padding-top: 12px;
        padding-left: 15px;
    }

    .fa-solid {
        color: #000000;
    }

    .fa-icon {
        font-size: 1.3em;
        color:#0065fc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 16px;
        margin-top: 10px;
    }

    .filters {
        display: flex;
        flex-direction: row;
    }

    .titrefiltres {
        font-size: 18px;
        font-weight: bold;
        margin-top: 38px;
    }

    .filtres {
        width: 67%;
        padding-left: 16px;
    }

    .nomfiltre {
        font-size: 18px;
        font-weight: bold;
        padding-top: 11px;
        margin: 0px 11px 10px 8px; /* Haut Droite Bas Gauche */
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    .filtre {
        border: 2px solid #D9D9D9;
        border-radius: 35px;
        padding: 6px;
        margin-top: 2%;
        margin-left: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .filtre:hover {
        background: #DEEBFF;
    }

    .info {
        display: flex;
        align-items: center;
        margin-top: 30px;
        padding-left: 3px;
    }

    .informations {
        font-size: 16px;
        font-style: normal;
        margin-left: 12px;
    }

    .fa-info {
        color: #0065fc;
        border-radius: 50%;
        border: 1px solid #D9D9D9;
		padding: 6px 10px 6px 10px;/* Haut Droite Bas Gauche */
	}

    .box {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 728px;
    }

    .titrebox {
        margin: 33px 0px 0px 35px; /* Haut Droite Bas Gauche */
        display: flex;
        justify-content: flex-start;
        font-size: 22px;
        font-weight: bold;
    }

    #MarseilleAccomodations {
        width: 66%;
        height: 626px;
        margin: 28px 4px 79px 0px; /* Haut Droite Bas Gauche */
	    display: flex;
	    justify-content: space-between;
        flex-direction: column;
        background-color: #F2F2F2;
        border-radius: 20px;
        padding-right: 1px; 
    }

    .appartement {
        display: flex;
        justify-content: space-around;
    }

    .imageappart {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 110px;
    }

    .infos_hebergements {
        background-color: rgb(255,255,255);
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	    border-radius: 20px;
	    border: 4px solid white;
        width: 108%;
        margin-bottom: 22px;
    }

    .infos_hebergements >.link-box {
        min-width: 340px;
    }

    .infos_hebergements > div{
        padding: 0 7px; 
    }

    .titrehebergement {
	    font-size: 14px;
	    font-weight: bold;
	    line-height: 1em;
        margin-bottom: 0px;
    }

    .prixhebergement {
	    font-size: 14px;
	    font-weight: normal;
        padding: 10px 0;
	    line-height: 0.5em;
    }

    .etoiles {
        font-size: 12px;
        padding: 0 0 10px 0;
    }

    .blue {
        color: rgba(0, 101, 252, 1);
    }

    .grey {
        color: rgba(242, 242, 242, 1);
    }

    .titre4 {
        margin: 0px 0px 30px 34px; /* Haut Droite Bas Gauche */
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    .afficherplus:hover {
        text-decoration: none;
    }

    .bloc1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
    }

    .titreboxmostpopular {
        font-size: 22px;
        font-weight: bold;
        margin: 26px 0px 0px 49px; /* Haut Droite Bas Gauche */
    }

    #MostPopular {
        background-color: #F2F2F2;
        border-radius: 20px;
        height: 626px;
        width: 100%;
        margin: 26px 0px 50px 23px; /* Haut Droite Bas Gauche */
        display: flex;
        flex-direction: column;
        align-items: center;
        /*justify-content: space-evenly;*/
    }

    #MostPopular>*:first-child {
        align-self: stretch;
    }

    .boxmostpopular {
        background-color: rgb(255,255,255);
	    border: 4px solid white;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 144px;
        width: 83%;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }

    .cardsmostpopular {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 9px;
    }

    .textmostpopular {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .titremostpopular {
        font-size: 15px;
	    font-weight: 700;
        line-height: 18px;
        margin: 12px 0px 0px 12px; /* Haut Droite Bas Gauche */
        margin-bottom: 0px;
    }

    .imagemostpopular {
        width: 137px;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    .prixmostpopular {
        font-size: 14px;
	    font-weight: normal;
        line-height: 16px;
        margin: 10px 0px 0px 12px; /* Haut Droite Bas Gauche */
    }

    .etoilesmostpopular {
        margin: auto 0px 5px 12px; /* Haut Droite Bas Gauche */
        font-size: 12px;
    }

    .fa-chart-line {
        color:#0065fc;
        margin: 31px 46px 0px 0px; /* Haut Droite Bas Gauche */
    }

    .box2 {
        display: flex;
        flex-direction: column;
    }

    .imageactivite {
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        width: 100%;
    }

    .titreactivites {
        font-size: 15px;
	    font-weight: bold;
        padding: 15px;
    }

    #Activites {
        display: flex;
	    justify-content: space-between;
        border-radius: 20px 20px 0 0;
        padding-top: 14px;
    }

    .boxactivites {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .titreboxactivites {
        font-size: 22px;
        font-weight: bold;
    }

    .titre5 {
        font-size: 18px;
        font-weight: bold;
    }

    .footer {
        background: #F2F2F2;
        margin-top: 60px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer>*:first-child {
		margin-left: 60px;
	}

	.footer>*:last-child {
		margin-right: 380px;
	}

    .footerbloc {
        display: flex;
        flex-direction: column;
        /*margin: auto;*/
        margin-top: 40px;
        line-height: 2;
    }

/*Media querries tablette*/

@media screen and (max-width: 992px) {
.wrapper {
    max-width: 992px;
}

.filters {
    width: 100%;
}

.filtres {
    width: 91%;
}

.titrebox {
    margin-left: 42px;
    margin-top: 27px;
}

.box {
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0%;
}

.box1 {
    width: 100%;
}

#MarseilleAccomodations {
    width: 100%;
    margin-bottom: 15px;
    gap: 16px;
}

.titre4 {
    margin-left: 44px;
    margin-bottom: 20px;
}

.bloc1 {
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.titreboxmostpopular {
    white-space: nowrap;
    margin-bottom: 0px;
    /*width: 50px;*/
    height: 38px;
    padding-left: 15px;
    padding-top: 7px;
    margin-top: 3px;
    margin-left: 16px;
}

#MostPopular {
    width: 99%;
    height: 228px;
    margin-top: 3px;
    margin-left: 0px;
}

.titremostpopular {
    margin-top: 7px;
}

.prixmostpopular {
    font-size: 12px;
    line-height: 15px;
}

.boxmostpopular {
    width: 27%;
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
    margin-top: 8px;
}

.cardsmostpopular {
    display: flex;
    flex-direction: row;
    margin-left: 42px;
    margin-bottom: 30px;
    width: 100%;
    height: 144px;
}

.fa-chart-line {
    padding-top: 9px;
    margin-right: 22px;
    margin-top: 10px;
}

.titreactivites {
    font-weight: 800;
    font-size: 16px;
}

.box2 {
    margin-top: 170px;
}

.titreboxactivites {
    margin-top: 7%;
}

#Activites {
    margin-top: 3%;
}

}


@media screen and (max-width: 768px) {
.wrapper {
    max-width: 768px;
}

body {
    margin-top: 0%;
    display: block;
}

.haut {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 2px;
    gap: 10px;
}

.navbar {
    width: 100%;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 18px;
}

.nav-link {
    border-bottom: 3px solid transparent;
    padding-bottom: 20px;
}

.nav-link:hover {
    padding-bottom: 20px;
    border-bottom: 3px solid #0065FC;
    border-top: 3px solid transparent;
}

.titre1 {
    font-size: 23px;
    margin-top: 10px;
}

.titrefiltres {
    text-align: center;
    line-height: 21px;
    position: absolute;
    margin-top: 18px;
}

.filtres {
    padding-top: 53px;
    display: flex;
    flex-wrap: wrap;
    width: 92%;
}

.filtre {
    width: 47%;
    margin-top: 4px;
}

.nomfiltre {
    width: 35%;
    margin-right: 49%;
    font-size: 14px;
    line-height: 13px;
}

.fa-icon {
    margin-left: 0px;
    margin-top: 8px;
}

.box {
    display: flex;
    flex-flow: column-reverse nowrap;
    margin-top: 79%;
    padding-right: 4px;
    padding-left: 4px;
}

.bloc1 {
    margin-top: 2%;
}

.fa-chart-line {
    margin-right: 14%;
}

.titreboxmostpopular {
    font-size: 23px;
    margin-left: 11%;
}

#MostPopular {
    margin-top: 0px;
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 94%;
    height: 596px;
}

.cardsmostpopular {
    display: flex;
    flex-direction: column;
    margin-bottom: 53%;
    gap: 15px;
}

.boxmostpopular {
    height: 150px;
    width: 72%;
    margin-top: 0px;
}

.imagemostpopular {
    width: 68%;
}

.textmostpopular {
    margin-left: 13px;
}

.titremostpopular {
    font-size: 19px;
}

.prixmostpopular {
    font-size: 15px;
}

.titrebox {
    margin-left: 23%;
    font-size: 24px;
}

#MarseilleAccomodations {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
    padding-right: 6px;
    background-color: white;
}

.appartement {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 39%;
    gap: 12px;
}

.infos_hebergements {
    height: 202px;
    width: 407px;
}

.imageappart {
    height: 124px;
}

.titre4 {
    visibility: hidden;
}

.box2 {
    margin-top: 38%;
}

.titreboxactivites {
    font-size: 24px;
    padding-left: 39px;
    margin-top: 78%;
}

#Activites {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding-left: 12px;
    margin-top: 5%;
}

.boxactivites {
    width: 92%;
    height: 255px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 13%;
}

.footerbloc {
    margin-left: 60px;
}

}